@{
    Layout = "_MasterLayout.cshtml";
}

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">How fast does your website load?</h1>
                <p class="lead">Lets find out!</p>
 
            </div>
        </div>
    </div>

    @Html.Partial("Analyze")

</body>



